/* Variables */
body {
  background: url(../img/header_background.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* Navigation */
nav {
  border: #ffffff 1px solid;
  margin-top: 1.5rem;
}
.menu {
  font-size: 0.8rem;
}
a .fa.fa-facebook {
  margin-left: 6rem;
}
.border-left {
  border-left: #ffffff 1px solid;
}
.top-bar {
  background-color: transparent;
  text-align: center;
}
.top-bar ul {
  background-color: transparent;
}
/* Small Navigation */
.logo-small {
  float: right;
}
.title-bar {
  padding: 0.60rem;
}
.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}
/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
  .logo-wrapper {
    position: relative;
  }
  .logo-wrapper .logo {
    width: 122px;
    height: 54px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 6px;
    margin-left: -39px;
    border-right: #ffffff 1px solid;
    margin-top: -15px;
    padding-top: 15px;
    padding-right: 15px;
  }
  .top-bar-right {
    width: 50%;
    padding-left: 86px;
  }
  .top-bar-right ul {
    float: left;
  }
  .top-bar-left {
    width: 50%;
    padding-right: 86px;
  }
  .top-bar-left ul {
    float: right;
  }
}
/* Header Logo */
.main-logo {
  margin-bottom: 1058px;
}
/* Section One */
.section-one {
  background-color: #36a6be;
  position: relative;
  z-index: 1;
}
.section-one:before {
  background: inherit;
  top: -319px;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-10.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.margin-top {
  margin-top: 17rem;
}
.button{
  border-radius: 3px;
  color: #36a6be;
  padding: 1.2em 5em;
  margin: 1.5rem 0px 0.5rem;
  font-weight: bold;
}
.white-border-box {
  color: #ffffff;
  padding: 0 4rem 2rem 2rem;
  border-left: #ffffff 1px solid;
  border-bottom: #ffffff 1px solid;
  margin-bottom: 8rem;
}
.section-one .white-border-box{
  padding: 0 0rem 2rem 2rem;
  margin-left: 1.5rem;
}
/* Section Two */
.section-two {
  background-color: #4ab8af;
  position: relative;
  z-index: 1;
  margin-bottom: 28rem;
}
.section-two:before {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-10.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.section-two h6 {
  color: #7158cc;
  display: inline;
  padding-top: 5rem;
  vertical-align: middle;
  font-size: 1.4rem;
  margin-left: -28px;
}
.padding-top {
  padding-top: 5rem;
}
.monster2 {
  margin-bottom: 0.5rem;
}
.title {
  margin-top: -17px;
  font-size: 1.2rem;
}
.section-two .white-border-box{
  margin-right: 1.5rem;
}
.comment {
  margin-top: 2.8rem;
}
/* Section Three */
.section-three {
  color: #ffffff;
  background-color: #36a6be;
  padding-top: 100px;
  padding-bottom: 380px;
  position: relative;
  z-index: 1;
}
.section-three:before {
  background: inherit;
  top: -319px;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-10.5deg);
  transform-origin: 100%;
  z-index: -1;
}
.section-three h1 {
  text-align: center;
  margin-bottom: 6rem;
}
.form-background {
  border-width: 1px;
  border-color: #257383;
  border-style: solid;
  padding: 50px;
  background: rgb(50,160,163); /* Old browsers */
  background-image: -moz-linear-gradient( -40deg, rgba(50,160,163,1) 0%, rgba(41,138,162,1) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgba(50,160,163,1) 0%, rgba(41,138,162,1) 100%);
  background-image: -ms-linear-gradient( -40deg, rgba(50,160,163,1) 0%, rgba(41,138,162,1) 100%);
}
.right {
  color: #ffffff;
  text-align: right;
}
.inline {
  margin: 0 0 0.88889rem 0;
  line-height: 2.56111rem;
}
select {
  font-weight: bold;
  margin-left: -32px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  background-position: right 4.5rem center;
  background-size: 15px 15px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28255, 255, 255%29'></polygon></svg>");
}
select:focus {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.select-margin-bottom {
  margin-bottom: 5rem;
}
[type=text] {
  color: #ffffff;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 4.4rem;
  border-radius: 0;
  border: 1px #86d0d6 solid;
  background-color: #3b9ca8;
}
[type=text]:focus {
  color: #ffffff;
  outline: none;
  box-shadow: none;
  border: 1px #86d0d6 solid;
  background-color: #3b9ca8;
}
input::-webkit-input-placeholder{
  color: #ffffff !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ffffff;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}
.section-three .button {
  border-radius: 3px;
  color: #4ab8af;
  padding: .85em 4em;
  margin: 4rem 0px 2rem;
}
.section-three .button.large {
  font-size: 1rem;
}

/*Footer*/
.footer-background {
  background: rgb(45,132,193); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(45,132,193,1) 0%, rgba(66,165,181,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(45,132,193,1) 0%,rgba(66,165,181,1) 100%);
  background: linear-gradient(45deg, rgba(45,132,193,1) 0%,rgba(66,165,181,1) 100%);
  position: absolute;
  left: 0px;
  width: 100%;
  height: -133px;
  z-index: 1;
}
.hand {
  margin-top: -260px;
  z-index: 2;
}
