@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNovaReg.otf") format("opentype");
}

@font-face {
  font-family: ProximaNova;
  font-weight: bold;
  src: url("../fonts/ProximaNovaBold.otf") format("opentype");
}

body {
  font-family: ProximaNova, sans-serif;
}


/***************************Navigation****************************/

.navbar {
  margin-top: 2.5rem;
  border: #ccffff 0px solid;
  background-color: transparent;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
}

.navbar .container {
  border: #ccffff 1px solid;
  border-radius: 0;
  height: 52px;
}

a .fa.fa-facebook {
  margin-right: -3rem;
}

.border-left {
  border-left: #ccffff 1px solid;
}

.border-right {
  border-right: #ccffff 1px solid;
}

.navbar-default .navbar-nav>li>a {
  color: #ccffff;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .main-links>li>a {
  padding-left: 3rem;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #7158cc;
}

.navbar-collapse {
  text-align: center;
}

.navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccffff;
}


/* Responsive Navigation */

@media only screen and (max-width: 992px) {
  .navbar-default .main-links>li>a {
    padding-left: 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    border: #ccffff 0px solid;
    background-color: transparent;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .navbar .container {
    border: #ccffff 0px solid;
    border-radius: 0;
    height: 52px;
  }
  .border-left {
    border-left: #ccffff 0px solid;
  }
  .border-right {
    border-right: #ccffff 0px solid;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background-color: rgba(54, 166, 190, 0.7);
  }
  a .fa.fa-facebook {
    margin-right: 1rem;
  }
  .navbar-header {
    margin-top: -1.5rem;
  }
}


/***************************Header****************************/

header {
  background: url(../img/header_background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}


/*Change the background for the mobile devices*/

@media only screen and (max-width: 768px) {
  header {
    background: url(../img/header_mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}


/*Change the background for larger screens*/

@media only screen and (min-width: 1600px) {
  header {
    background: url(../img/header_large_screen.png);
    background-size: 100%;
    /*background-position: center center;*/
    background-repeat: no-repeat;
  }
}

header .container {
  height: 100%;
  /*height: 67rem;*/
  text-align: center;
}

.button-wrapper {
  padding-top: 60%;
  padding-bottom: 20%;
}

.btn-primary {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 6rem;
  color: #53c0ab;
  background-color: #fff;
  border-color: #fff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #53c0ab;
  background-color: #ccffff;
  border-color: #ccffff;
}

.btn-primary:select {
  color: #53c0ab;
  background-color: #ccffff;
  border-color: #ccffff;
}

@media only screen and (max-width: 425px) {
  .button-wrapper {
    padding-top: 57%;
  }
  .btn-primary {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-color: #53c0ab;
  }
}


/***************************Section One****************************/

.section-one {
  background-image: url(../img/section-one.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 170px 0;
}

.section-one .container {}

.section-one img {}

.margin-top {
  margin-top: 17rem;
}

.white-border-box {
  color: #ccffff;
  padding: 0 6rem 4rem 3rem;
  border-left: #ccffff 1px solid;
  border-bottom: #ccffff 1px solid;
  margin-bottom: 8rem;
}

.section-one h5 {
  font-weight: bold;
}

.section-one .white-border-box {
  margin-left: 1.5rem;
}


/***************************Section Two****************************/

.section-two {
  background-image: url(../img/section-two.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0;
  padding: 170px 0;
}

.section-two .container {
  height: 55rem;
}

.section-two h6 {
  color: #7158cc;
  display: inline;
  vertical-align: middle;
  font-size: 1.4rem;
}

.section-two img {
  padding-bottom: 1em;
}

.padding-top {
  padding-top: 5rem;
}

.monster2 {
  margin-bottom: 0.5rem;
}

.title-margin-top {
  padding-top: 3rem;
}

.title {
  margin-top: -17px;
  font-size: 1.2rem;
}

.section-two .white-border-box {
  margin-right: 1.5rem;
}

.comment {
  margin-top: 2.8rem;
}


/* Section Three */

.section-three {
  color: #ffffff;
  background-color: #36a6be;
  padding-top: 100px;
  padding-bottom: 380px;
  position: relative;
  z-index: 1;
}

.section-three:before {
  background: inherit;
  top: -319px;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-10.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.section-three h1 {
  text-align: center;
  margin-bottom: 6rem;
}

.form-background {
  border-width: 1px;
  border-color: #257383;
  border-style: solid;
  padding: 50px;
  background: rgb(50, 160, 163);
  /* Old browsers */
  background-image: -moz-linear-gradient( -40deg, rgba(50, 160, 163, 1) 0%, rgba(41, 138, 162, 1) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgba(50, 160, 163, 1) 0%, rgba(41, 138, 162, 1) 100%);
  background-image: -ms-linear-gradient( -40deg, rgba(50, 160, 163, 1) 0%, rgba(41, 138, 162, 1) 100%);
}

.right {
  color: #ffffff;
  text-align: right;
}

.inline {
  margin: 0 0 0.88889rem 0;
  line-height: 2.56111rem;
}

select {
  font-weight: bold;
  margin-left: -32px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  /*background-position: right 4.5rem center;*/
  /*background-size: 15px 15px;*/
  background-size: 0 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28255, 255, 255%29'></polygon></svg>");
}

select:focus {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.select-margin-bottom {
  margin-bottom: 5rem;
}

[type=text] {
  color: #ffffff;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 4.4rem;
  border-radius: 0;
  border: 1px #86d0d6 solid;
  background-color: #3b9ca8;
}

[type=text]:focus {
  color: #ffffff;
  outline: none;
  box-shadow: none;
  border: 1px #86d0d6 solid;
  background-color: #3b9ca8;
}

input::-webkit-input-placeholder {
  color: #ffffff !important;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

.section-three .button {
  border-radius: 3px;
  color: #4ab8af;
  padding: .85em 4em;
  margin: 4rem 0px 2rem;
}

.section-three .button.large {
  font-size: 1rem;
}


/*************************************Footer************************************/

footer {
  background: rgb(45, 132, 193);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(45, 132, 193, 1) 0%, rgba(66, 165, 181, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(45, 132, 193, 1) 0%, rgba(66, 165, 181, 1) 100%);
  background: linear-gradient(45deg, rgba(45, 132, 193, 1) 0%, rgba(66, 165, 181, 1) 100%);
  position: absolute;
  left: 0px;
  width: 100%;
  height: -133px;
  z-index: 1;
  color: #ffffff;
  padding: 85px 0;
  font-size: 1rem;
}

.menu {
  color: #ffffff;
}

.logo-footer {
  max-width: 75%;
}

.fa {
  font-size: 2rem;
  margin: 0 0.5rem;
  padding-top: -1rem;
}

.phone-padding {
  padding-bottom: 2rem;
}

.city-padding {
  padding-left: 2.5rem;
}
